
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This is the Homepage</h1>


<ul id=cheese>
    <li id=cheddar> Cheddar</li>
    <li id=brie> Brie </li>
    <li id=rochefort> Rochefort</li>
    <li id=camembert> Camembert</li>
</ul>
