li {
    margin-bottom: 20px;
}

.nav-item {
    padding-left: 10px;
}

.top-row-nav {
    background-color: #dec3c3;
}

.top-row-nav-text {
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}

.navbar-nav i, .navbar-nav a:hover, .navbar-nav a:active, .navbar-nav a:visited {
    color: dimgray;
}
