body {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.sidebar {
    height: 100vh;
}

.sidebar-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom-style: double;
    border-bottom-color: white;
}

.sidebar-items {
    list-style-type: none;
    left: 70px;
}

.site-bar, .site-bar i, .site-bar a:hover, .site-bar a:active, .site-bar a:visited {
    color: white;
    background-color: #34495E;
}

